.navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2% 1% 4% 6%;
  }
  
  .navigation a {
    text-decoration: none;
    color: black;
  }

  .navigation .active-nav {
    color: black;
    border: 1px solid rgba(136,204,255);
    padding: 10px;
  }